<robot name="track.stl">
	<link name="_name">
		<static>true</static>
		<visual>
			<origin xyz="0.20 -0.30 0.00" rpy="0.0 0.0 1.57" />
			<geometry>
				<mesh filename="track.stl" scale="0.002 0.002 0.001" />
			</geometry>
			<material name="texture">
				<color rgba="1.0 0.0 0.0 1.0" />
			</material>
		</visual>
		<collision>
			<origin xyz="0.00 0.00 0.00" rpy="0.0 0.0 0.0" />
			<geometry>
				<mesh filename="track.stl" scale="0.0001 0.0001 0.0001" />
			</geometry>
		</collision>
		<inertial>
			<mass value="1.0" />
			<inertia ixx="1000.0" ixy="1000.0" ixz="1000.0" iyy="1000.0" iyz="1000.0" izz="1000.0" />
		</inertial>
	</link>
</robot>
